@import "./stylesheets";
* {
  font-family: $font-family;
}
body {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  background-color: $background-color;
  color: $primary-color;
}
.greeting {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 6vh;
  width: 100%;
  height: 4rem;
  h1 {
    font-size: 3rem;

    @media (max-width: 800px) {
      font-size: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      @media (max-width: 600px) {
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      }
    }
  }
}
